<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Import Keys - TrueKey</title>
    <link rel="stylesheet" href="../css/app.global.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-primary" type="button" id="SEF-cancel-btn">Back</button>
      </form>
    </nav>
    <hr />
    <div class="container-fluid">
      <h4>Information:</h4>
      <div class="form-row">
        <p>Imported keys need to have a suffix based on which key it is as well as the suffix type need to match between keys.<br />Public keys need to have either "-public" or "-pub", where as private keys need to have either "-private" or "-pvt" respectively</p>
      </div>
      <div class="form-row">
        <br />
        <p>
          <code>Public:   ExampleKey-public.key</code>
          <br />
          <code>Private:  ExampleKey-private.key</code>
        </p>
      </div>
    </div>
    <br /><br />
    <div class="container-fluid">
      <h4>Import from file:</h4>
      <div class="container">
        <div class="form-row">
          <div class="col-6 align-self-center text-center">
            <label for="file-pvt-key">Private key: </label>
            <input type="file" id="file-pvt-key" /><br />
          </div>
          <div class="col-6 align-self-center text-center">
            <label for="file-pub-key">Public key: </label>
            <input type="file" id="file-pub-key" /><br />
          </div>
        </div>
      </div>
      <br /><br />
      <div class="form-row">
        <div class="col-12 align-self-center text-center">
          <button class="btn btn-primary" id="btn-import-key">Import Keys</button>
        </div>
      </div>
    </div>
    <!-- Button Control-->
    <input id="encrypt-btn-clicked" type="file" accept="" hidden />
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/import.js"></script>
  </body>
</html>